html {
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  font-weight: bold;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 1500px;
  overflow: hidden;
}
@media (min-width: 431px) {
  body {
    background-color: #000;
  }
}

.loader {
  position: absolute;
  inset: 0;
  background-color: #333;
  z-index: 500000;
  transition: 1s;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100px;
  aspect-ratio: 1;
  opacity: 1;
}
.loader img.active {
  animation: animateLoader 0.6s linear infinite forwards;
}
.loader img:nth-of-type(1) {
  left: calc(50% - 75px);
  animation-delay: 0s;
}
.loader img:nth-of-type(2) {
  animation-delay: 0.2s;
}
.loader img:nth-of-type(3) {
  left: calc(50% + 75px);
  animation-delay: 0.4s;
}

.video {
  display: none;
}
@media (min-width: 431px) {
  .video {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
}

.unit {
  width: 98%;
  height: 100vh;
  overflow: hidden;
  margin: calc(var(--marginTop) + 20px) auto 0;
}
@media (max-width: 667px) {
  .unit {
    margin: calc(var(--marginTop) + 15px) auto 0;
  }
}
@media (min-width: 431px) {
  .unit {
    display: none;
  }
}
.unit .unit-inner .active-btn-container .active-btn {
  padding: 0.5rem;
  padding-top: 0.6rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 20px;
  margin: 5px 5px;
}
@media (min-width: 375px) and (max-height: 667px) {
  .unit .unit-inner .active-btn-container .active-btn {
    font-size: 0.8em;
  }
}
@media (max-width: 365px) {
  .unit .unit-inner .active-btn-container .active-btn {
    font-size: 0.9rem;
  }
}
.unit .unit-inner .active-btn-container .check-out {
  width: calc(60% - 10px);
  margin: 0 auto 10px;
  color: rgba(255, 220, 25, 0.6);
  border: 8px outset rgba(254, 190, 13, 0.7);
}
.unit .unit-inner .active-btn-container .check-out.active {
  color: rgb(255, 221, 25);
  border: 8px outset rgb(254, 188, 13);
}
.unit .unit-inner .active-btn-container .check-out.notification {
  animation: notification 1s linear infinite forwards;
}
.unit .unit-inner .active-btn-container .active-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unit .unit-inner .active-btn-container .active-btn-wrapper .btn-insert {
  font-size: 1rem;
  color: rgb(116, 225, 20);
  border: 8px outset rgb(78, 166, 1);
  width: calc(50% - 10px);
}
.unit .unit-inner .active-btn-container .active-btn-wrapper .btn-insert.active {
  color: rgba(116, 225, 20, 0.5);
  border: 8px outset rgba(78, 166, 1, 0.6);
}
@media (min-width: 375px) and (max-height: 667px) {
  .unit .unit-inner .active-btn-container .active-btn-wrapper .btn-insert {
    font-size: 0.8em;
  }
}
@media (max-width: 365px) {
  .unit .unit-inner .active-btn-container .active-btn-wrapper .btn-insert {
    font-size: 0.8rem;
  }
}
@media (max-width: 325px) {
  .unit .unit-inner .active-btn-container .active-btn-wrapper .btn-insert {
    font-size: 0.6rem;
  }
}
.unit .unit-inner .active-btn-container .active-btn-wrapper .betX-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}
.unit .unit-inner .active-btn-container .active-btn-wrapper .betX-wrapper .btn-bet2x {
  color: rgba(187, 2, 212, 0.6);
  border: 8px outset rgb(189, 2, 212);
}
.unit .unit-inner .active-btn-container .active-btn-wrapper .betX-wrapper .btn-bet5x {
  color: rgba(201, 43, 40, 0.6);
  border: 8px outset rgb(252, 55, 53);
}
.unit .unit-inner .active-btn-container .active-btn-wrapper .betX-wrapper .btn-bigSpinX {
  letter-spacing: 0px;
  padding: 0.5rem 0.6rem 0.4rem;
  border: 8px outset #a1a3a4;
  color: rgb(213, 48, 45);
}
.unit .unit-inner .point-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}
@media (min-width: 375px) and (max-height: 667px) {
  .unit .unit-inner .point-container {
    margin: 5px auto 10px;
  }
}
.unit .unit-inner .point-container .point-wrapper {
  width: calc(25% - 6px);
  margin: 0 3px;
  padding: 0.3rem;
  border-radius: 20px;
  border: 4px outset rgb(186, 180, 180);
}
.unit .unit-inner .point-container .point-wrapper .point-text {
  font-size: 0.8rem;
  margin-top: 3px;
  text-align: center;
  letter-spacing: 1px;
}
.unit .unit-inner .point-container .point-wrapper .point {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
}
@media (max-width: 365px) {
  .unit .unit-inner .point-container .point-wrapper .point {
    font-size: 1rem;
  }
}
.unit .unit-inner .point-container .win-wrapper .win-text {
  color: yellow;
}
.unit .unit-inner .point-container .win-wrapper .win-point {
  color: rgb(226, 219, 219);
}
@media (max-width: 365px) {
  .unit .unit-inner .point-container .win-wrapper .win-point.adjustFontSize.bigSpinFontSize {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 325px) {
  .unit .unit-inner .point-container .win-wrapper .win-point.adjustFontSize.bigSpinFontSize {
    font-size: 0.7rem !important;
  }
}
.unit .unit-inner .point-container .win-wrapper .win-point.adjustFontSize.pumpkinFontSize {
  font-size: 0.8rem !important;
}
@media (max-width: 365px) {
  .unit .unit-inner .point-container .win-wrapper .win-point.adjustFontSize.pumpkinFontSize {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 325px) {
  .unit .unit-inner .point-container .win-wrapper .win-point.adjustFontSize.pumpkinFontSize {
    font-size: 0.6rem !important;
  }
}
.unit .unit-inner .point-container .total-wrapper .total-text {
  color: rgb(6, 223, 6);
}
.unit .unit-inner .point-container .total-wrapper .total-point {
  color: rgb(255, 255, 255);
}
.unit .unit-inner .point-container .bet-wrapper .bet-text {
  color: #fff;
}
.unit .unit-inner .point-container .bet-wrapper .bet-point {
  color: rgb(0, 174, 255);
}
.unit .unit-inner .point-container .dept-wrapper .dept-text {
  color: rgb(0, 174, 255);
}
.unit .unit-inner .point-container .dept-wrapper .dept-point {
  color: #fff;
}
.unit .unit-inner .machine-container {
  width: 98%;
  margin: auto;
}
.unit .unit-inner .machine-container main {
  width: 100%;
  height: 250px;
  padding: 10px 3px 40px;
  background-color: #313232;
  border: 4px solid rgb(103, 102, 102);
  border-radius: 12px;
  margin: 10px auto 15px;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 375px) and (max-height: 667px) {
  .unit .unit-inner .machine-container main {
    height: 220px;
    padding: 10px 3px 50px;
  }
}
@media (max-width: 365px) and (max-height: 650px) {
  .unit .unit-inner .machine-container main {
    height: 220px;
    padding: 10px 3px 50px;
  }
}
.unit .unit-inner .machine-container main .panel {
  width: calc(33% - 10px);
  height: calc(75% - 10px);
  margin: 5px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
@media (min-width: 375px) and (max-height: 667px) {
  .unit .unit-inner .machine-container main .panel {
    height: calc(85% - 10px);
  }
}
@media (max-width: 360px) and (max-height: 740px) {
  .unit .unit-inner .machine-container main .panel {
    height: calc(75% - 10px);
  }
}
@media (max-width: 365px) and (max-height: 650px) {
  .unit .unit-inner .machine-container main .panel {
    height: calc(75% - 10px);
  }
}
@media (max-width: 325px) {
  .unit .unit-inner .machine-container main .panel {
    height: calc(75% - 10px);
  }
}
.unit .unit-inner .machine-container main .panel img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.unit .unit-inner .machine-container main .panel .stop {
  width: 95%;
  height: 60px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #ff1f27;
  border: 5px outset #ef454a;
  box-shadow: 0 4px 0 #9a423b;
  border-radius: 30px;
  cursor: pointer;
  margin: 14px auto 0;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) and (max-height: 667px) {
  .unit .unit-inner .machine-container main .panel .stop {
    height: 45px;
    font-size: 1.1rem;
  }
}
.unit .unit-inner .machine-container main .panel .stop:active {
  margin-top: 20px;
  box-shadow: 0 0px 0 #9a423b;
}
.unit .unit-inner .machine-container #spin {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  line-height: 47.5px;
  letter-spacing: 2px;
  color: #45b4ff;
  border: 5px outset #3498db;
  box-shadow: 0 6px 0 #226794;
  border-radius: 30px;
  cursor: pointer;
  margin: 14px auto 0;
  padding-top: 2px;
}
@media (max-height: 667px) {
  .unit .unit-inner .machine-container #spin {
    height: 55px;
    font-size: 1.2rem;
  }
}
@media (max-width: 365px) and (max-height: 650px) {
  .unit .unit-inner .machine-container #spin {
    width: 98%;
    height: 55px;
    font-size: 1.2rem;
  }
}
@media (max-width: 325px) {
  .unit .unit-inner .machine-container #spin {
    font-size: 1rem;
    width: 98%;
    height: 55px;
  }
}
.unit .unit-inner .machine-container #spin:active {
  margin-top: 20px;
  box-shadow: 0 0px 0 #226794;
}
.unit .icon {
  position: absolute;
  top: 10px;
  left: 5px;
  background-image: url("img/icon.png");
  background-position: center;
  background-size: cover;
  width: 70px;
  aspect-ratio: 1;
  z-index: 1000;
  border-radius: 10px;
}
@media (min-width: 375px) and (max-height: 667px) {
  .unit .icon {
    top: 5px;
    left: 15px;
    width: 60px;
  }
}
@media (max-width: 360px) and (max-height: 740px) {
  .unit .icon {
    top: 5px;
    left: 10px;
    width: 65px;
  }
}
@media (max-width: 365px) and (max-height: 650px) {
  .unit .icon {
    top: 5px;
    width: 65px;
  }
}
@media (max-width: 325px) {
  .unit .icon {
    width: 60px;
    top: 8px;
    left: 5px;
  }
}
.unit .icon.active::before {
  pointer-events: none;
  background-color: rgba(51, 51, 51, 0.7019607843);
}
.unit .icon::before {
  content: "";
  z-index: 2000;
  position: absolute;
  inset: 0;
  background-color: transparent;
  border-radius: 10px;
}
@media (min-height: 720px) {
  .unit .icon {
    margin-top: calc(var(--marginTop));
  }
}
.unit .icon.nth2 {
  left: initial;
  right: 5px;
}
@media (min-width: 375px) and (max-height: 667px) {
  .unit .icon.nth2 {
    right: 15px;
  }
}
@media (max-width: 360px) and (max-height: 740px) {
  .unit .icon.nth2 {
    right: 10px;
  }
}
@media (max-width: 325px) {
  .unit .icon.nth2 {
    right: 5px;
  }
}
.unit .volGage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
  transition: 0.1s;
  opacity: 0;
}
.unit .volGage.activateBgmGage::before {
  background-color: #00aaff;
}
.unit .volGage.activeMachineGage::before {
  background-color: rgba(0, 255, 0, 0.7019607843);
}
.unit .volGage::before {
  content: "";
  z-index: 1;
  position: absolute;
  inset: 0;
  width: var(--vol);
  height: 2px;
  background-color: #00aaff;
  border-radius: 10px;
}

.untitled {
  position: absolute;
  top: 565px;
  left: 0;
  right: 0;
  width: 92%;
  height: 125px;
  border: 8px solid rgb(70, 69, 68);
  border-radius: 20px;
  margin: calc(var(--marginTop)) auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) and (max-height: 667px) {
  .untitled {
    top: 505px;
    height: 100px;
  }
}
@media (max-width: 360px) and (max-height: 740px) {
  .untitled {
    top: 555px;
  }
}
@media (max-width: 365px) and (max-height: 650px) {
  .untitled {
    top: 515px;
    height: 100px;
  }
}
@media (max-width: 325px) {
  .untitled {
    top: 545px;
    height: 100px;
  }
}
.untitled .untitled-img {
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: -5px -15px;
}
@media (max-height: 667px) {
  .untitled .untitled-img {
    width: 125px;
    height: 125px;
  }
}
.untitled .black-layer-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.untitled .black-layer-wrapper .black-layer {
  position: relative;
  display: inline-block;
  width: 33.3%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8117647059);
}
.untitled .black-layer-wrapper .black-layer:nth-of-type(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.untitled .black-layer-wrapper .black-layer:nth-of-type(1).active {
  background-color: rgba(51, 51, 51, 0.2);
}
.untitled .black-layer-wrapper .black-layer:nth-of-type(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.untitled .black-layer-wrapper .black-layer:nth-of-type(3).active {
  background-color: rgba(51, 51, 51, 0.2);
}
.untitled .black-layer-wrapper .reelHandler.active {
  animation: pulseReelHandler 0.3s linear infinite;
}

.rectangle {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  animation: confetti 2s linear forwards;
  aspect-ratio: 1;
  z-index: 100;
}
@media (min-width: 431px) {
  .rectangle {
    z-index: -1;
  }
}

.squareRange {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: squareRange 3s linear forwards;
  transform-origin: 0 center;
  z-index: 100;
}

.squareOne {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  aspect-ratio: 1;
  transform: skew(15deg);
  background-color: var(--bgc);
}

.squareTwo {
  position: absolute;
  top: 150px;
  left: 10%;
  transform: translateX(-50%);
  width: 25px;
  aspect-ratio: 1;
  transform: skew(15deg);
  background-color: #ff0;
}

.giphy {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: var(--height);
  pointer-events: none;
}
.giphy .frame {
  position: absolute;
  bottom: var(--bottom);
  left: var(--left);
  transform: translateX(-50%);
  width: 150%;
  height: 150%;
  transition: 1s;
  opacity: 0;
  display: none;
  z-index: 200;
}
.giphy .frame.active {
  display: block;
}
.giphy .frame.alpha {
  opacity: 0.8;
  transition: 2s;
}
@media (min-width: 431px) {
  .giphy .frame.active {
    display: none;
  }
}

.js_inActive {
  opacity: 0.5;
}

.js_unMatched-effect {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.392);
}

@keyframes notification {
  50% {
    color: rgba(255, 220, 25, 0.2);
    border: 8px outset rgba(254, 190, 13, 0.3);
  }
}
@keyframes animateLoader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes squareRange {
  0% {
    top: 0;
    left: 20%;
    transform: rotate(-30deg) translateX(-50%);
  }
  10% {
    top: 50px;
    left: 50%;
    transform: rotate(0) translateX(-50%);
  }
  50% {
    top: 50px;
    transform: rotate(500deg) translateX(-50%);
  }
  80% {
    width: 500px;
    transform: rotate(500deg) translateX(250%);
    opacity: 0.1;
  }
  100% {
    top: var(--top);
    transform: rotate(500deg) translateX(250%);
  }
}
@keyframes confetti {
  0% {
    top: -200px;
  }
  25% {
    transform: rotateX(200deg) rotateY(600deg) scale(var(--scale)) translateX(var(--tx)) skew(var(--skew));
  }
  75% {
    transform: rotateX(var(--x)) rotateY(var(--y)) translateX(var(--tx)) skew(var(--skew));
    opacity: 1;
  }
  100% {
    top: var(--top);
    transform: rotate(100deg);
    opacity: 0.3;
  }
}
@keyframes pulseReelHandler {
  0% {
    background-color: rgba(51, 51, 51, 0.8117647059);
  }
  100% {
    background-color: transparent;
  }
}
.js_stopBtnAnimation {
  animation: stopBtnAnimation 0.1s;
}

.js_spinBtnAnimation {
  animation: spinBtnAnimation 0.2s;
}

@keyframes stopBtnAnimation {
  0% {
    transform: translateY(0px);
    box-shadow: 0 4px 0 #9a423b;
  }
  50% {
    transform: translateY(6px);
    box-shadow: 0 0px 0 #9a423b;
  }
  100% {
    transform: translateY(0px);
    box-shadow: 0 4px 0 #9a423b;
  }
}
@keyframes spinBtnAnimation {
  0% {
    transform: translateY(0px);
    box-shadow: 0 6px 0 #226794;
  }
  50% {
    transform: translateY(8px);
    box-shadow: 0 0px 0 #226794;
  }
  100% {
    transform: translateY(0px);
    box-shadow: 0 6px 0 #226794;
  }
}
@keyframes bigSpinFlash {
  0% {
    color: #440607;
  }
  30% {
    color: #ff0109;
  }
  70% {
    color: #ff0109;
  }
  100% {
    color: #ff0109;
  }
}
@keyframes bigSpinX {
  0% {
    color: #440607;
  }
  30% {
    color: #ff0109;
  }
  70% {
    color: #ff0109;
  }
  100% {
    color: #ff0109;
  }
}
@keyframes bigSpinX {
  0% {
    box-shadow: 3px 3px 12px 1px #eff1f4, 3px -3px 12px 1px #eff1f4, -3px 3px 12px 1px #eff1f4, -3px -3px 12px 1px #eff1f4;
    opacity: 0;
    border: 8px outset #bec1c4;
  }
  100% {
    opacity: 1;
    color: red;
    border: 8px outset #bec1c4;
  }
}
.js_insertPoint-textColorBright {
  color: rgb(196, 255, 17) !important;
}

.js_bet2x-textColorBright {
  color: rgb(250, 46, 250) !important;
}

.js_bet5x-textColorBright {
  color: rgb(255, 37, 34) !important;
}

.js_winRed {
  color: #ff1f27 !important;
}

.js_bigSpinRed {
  font-size: 0.95rem !important;
  animation: bigSpinFlash 0.3s ease-in-out;
  animation-iteration-count: infinite;
}

.js_bigSpinX {
  color: rgb(252, 55, 53) !important;
  animation: bigSpinX 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

.js_insertPoint-activeEffect {
  box-shadow: 0 0 2px 3px rgb(179, 255, 0), 0 0 2px 3px rgb(179, 255, 0), 0 0 2px 3px rgb(179, 255, 0), 0 0 2px 3px rgb(179, 255, 0);
}

.js_bet2x-activeEffect {
  box-shadow: 0 0 0 1px rgb(51, 51, 51), inset 0 0 0 1px rgb(51, 51, 51), inset 0 0 2px 3px rgba(228, 8, 221, 0.5), 0 0 3px 5px rgb(228, 8, 221);
}

.js_bet5x-activeEffect {
  box-shadow: 0 0 0 1px rgb(51, 51, 51), inset 0 0 0 1px rgb(51, 51, 51), inset 0 0 2px 3px rgba(255, 25, 0, 0.5), 0 0 3px 5px rgb(255, 25, 0);
}

.js_checkOut-win {
  color: #fff !important;
  border: 8px outset rgb(252, 55, 53) !important;
}

.js_checkOut-lost {
  color: #fff !important;
  border: 8px outset #3498db !important;
}